{% extends 'admin/base.html.twig' %}


{% block style %}
    {{ parent() }}
    <style>

    </style>
{% endblock %}

{% block pagetitle %}
    Permission
{% endblock %}

{% block contenttitlefaicon %}
    fa fa-dashboard
{% endblock %}

{% block contenttitle %}
    Permissions
{% endblock %}

{% block contentsubtitle %}
    Liste des permissions
{% endblock %}


{% block pagecontent %}
    {# <h1>Create new Demeurre</h1>#}
    <div class="page-content-wrapper">
        <!-- BEGIN CONTENT BODY -->
        <div class="page-content">
            <div class="page-head">
                <!-- BEGIN PAGE TITLE -->
                <div class="row">
                    <div class="col-md-12">
                        <!-- BEGIN VALIDATION STATES-->
                        <div class="portlet light portlet-fit portlet-form bordered">
                            <div class="portlet-title">
                                <div class="caption">
                                    <i class="icon-settings font-dark"></i>
                                    <span class="caption-subject font-dark sbold uppercase"></span>
                                </div>
                            </div>

                            <div class="row">

                                <div class="col-md-12">
                                    <form method="post">
                                        <div class="col-md-10">
                                            <input type="text" class="form-control" name="description" id="description" required>
                                            <input type="hidden" name="permission" id="permission" value="0">
                                        </div>
                                        <div class="col-md-2">
                                            <button id="submit" class="btn btn-success form-control"  type="submit">Modifier</button>
                                        </div>
                                    </form>

                                </div>

                                <div class="col-md-12" style="margin-top: 20px;">

                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>Permission</th>
                                            <th>Actions</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for permission in permissions %}
                                            <tr>
                                                <td>{{ permission.description }}</td>
                                                <td>
                                                    <button type="button" class="btn btn-success editPermission"
                                                            data-id="{{ permission.id }}" data-description="{{ permission.description }}">Modifier</button>
                                                </td>
                                            </tr>
                                        {% else %}
                                            <tr>
                                                <td colspan="7">Aucun enregistrement</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>

                            </div>


                            <!-- END VALIDATION STATES-->
                        </div>
                    </div>
                </div>
            </div>
            <!-- END PAGE BASE CONTENT -->
        </div>
        <!-- END CONTENT BODY -->
    </div>

    {#<a href="{{ path('demeurre_index') }}">back to list</a>#}
{% endblock %}

{% block script %}
    {{ parent() }}

    <script>
        $(document).ready(function ()
        {
            $("#menuPermission").addClass("active");
            $("#treeMenuUser").addClass("active");

        })
    </script>

    <script src="{{ asset('js/permission.js') }}"></script>

{% endblock %}
