
<div class="row">
    <form class="row" action="{{ path('user_role_new') }}" method="post"  >
        <div class="col-md-8">
            <select name="role" id="role" class="form-control chosen" required>
                {% for role in roles %}
                    <option value="{{ role.id }}">{{ role.name }}</option>
                {% endfor %}
            </select>

            <input type="hidden" name="user" value="{{ userId }}">
        </div>
        <div class="col-md-2">
            <button class="form-control btn btn-success" type="submit">Ajouter</button>
        </div>
    </form>

</div>


<div class="row" style="margin-top: 20px;">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Role</th>
            <th>Actions</th>
        </tr>
        </thead>

        <tbody>
        {% for userRole in userRoles %}
            <tr>
                <td>{% if userRole.role %} {{ userRole.role.name }} {% endif %}</td>
                <td>{% if userRole.role %}
                        <a href="{{ path('user_role_delete', {'id':userRole.id}) }}" class="btn btn-danger btn-xs">Supprimer</a>
                    {% endif %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

