<footer id="page-footer" class="clearfix">
    <div class="testimonial-newsletter">
        <div class="clearfix w1200 marge-auto relative">
            <div class="region region-footer-first">
                <div class="clearfix block contextual-links-region">
                    <div class="title">Ne manquez plus une <span class="nowrap">opportunité !</span></div>
                    <p>Soyez les premiers à découvrir nos nouveautés dans votre pays et profitez d’actualités ciblées
                        pour vous aider au mieux dans votre recherche.</p>
                    <form id="form-foot-nl" method="get" action="#" accept-charset="UTF-8" novalidate>
                        <div class="form-field clearfix">
                            <label for="nl-email" class="label empty_me">Votre adresse mail</label>
                            <input id="nl-email" name="nl-email" type="email" required="required" class="required email"
                                   value="">
                        </div>
                        <input type="submit" value="Je m'abonne" class="submit" id="ml_submit">
                        <em class="about">* Soyez rassurés, votre adresse ne sera pas communiquée à des tiers</em>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <a href="#top" class="clearfix haut-de-page marge-auto only-mobile">
        <span class="fleche-noire"></span>
        Haut de page
    </a>

    <div class="super-foot">
        <ul class="clearfix w1200 marge-auto relative">
            <li class="address block">
                <div class="title clearfix">Restons en contact</div>
                Sarano Immobilier & Travaux Publics (SITP).<br/><br/>
                11 Av de la Libération<br/>
                Aïdjedo-Cotonou, BENIN<br/><br/>
                contact@sarano-itp.com
            </li>
            <li class="contact block">
                <ul class="clearfix">
                    <li class="socials clearfix">
                        <ul>
                            <li>
                                <a target="_blank" href="#" class="link imgBt fb"><span>Facebook</span></a>
                            </li>
                            <li>
                                <a target="_blank" href="#" class="link imgBt tw"><span>Twitter</span></a>
                            </li>
                            <li>
                                <a target="_blank" href="#" class="link imgBt yt"><span>YouTube</span></a>
                            </li>
                            <li>
                                <a target="_blank" href="#" class="link imgBt in"><span>LinkedIn</span></a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="{{ path('contact') }}" class="link btn"><span class="ico footer-ico-contact"></span>Contactez-nous</a>
                    </li>
                    <li>
                        <a href="#" class="link btn"><span class="ico footer-ico-localize"></span>Téléchargez notre
                            plaquette</a>
                    </li>
                </ul>
            </li>
            <li class="fast-access block">
                <div class="title clearfix">Autres Menu</div>
                <ul class="edito-nav-list">
                    <li class="rub-bord"><a href="{{ path('page_slug', {'slug':'demarche_qualite'}) }}" title="" class="link">Notre démarche
                            qualité </a></li>
                    <li class="rub-bord"><a href="{{ path('page_slug',{'slug':'groupe_technicien'}) }}" title="" class="link">Groupe de
                            technicien</a></li>
                    <li class="rub-bord"><a href="{{ path('page_slug', {'slug':'partenaires'}) }}" title="" class="link">Nos partenaires</a></li>
                    <li class="rub-bord"><a href="{{ path('page_slug', {'slug':'publicite_partenariat'}) }}" title="" class="link">Publicité &
                            Partenariat</a></li>
                </ul>
            </li>
            <li class="project block">
                <div class="title clearfix">Politique & Confidentialité</div>
                <ul class="edito-nav-list">
                    <li class="rub-bord"><a href="{{ path('vie_privee') }}" title="" class="link">Vie privée-protection des
                            données</a></li>
                    <li class="rub-bord"><a href="{{ path('moyen_paiement') }}" title="" class="link">Moyens de paiement
                            acceptés</a></li>
                    <li class="rub-bord"><a href="{{ path('condition_utilisation') }}" title="" class="link">CGU</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="line-foot">
        <div class="clearfix w1200 marge-auto relative">
            <p class="copy">Copyright 2018 Sarano Immobilier & Travaux Publics (SITP).| Conception : <a target="_blank" href="http://www.brightech.africa/">BRIGHTECH</a> </p>
            <nav class="menu">
                <ul>
                    <li>
                        <a href="{{ path('mentions_legales') }}" class="link">Mentions Légales</a>
                    </li>
                    <li class="separator">|</li>
                    {#<li>#}
                        {#<a href="recrutement.html" class="link" target="_blank">Recrutement</a>#}
                    {#</li>#}
                    <li class="separator">|</li>
                    <li>
                        <a href="#" class="link" target="_blank">English</a>
                    </li>
                    <li class="separator">|</li>
                    <li class="lamotte-sites-container">

                    </li>
                </ul>
            </nav>

            <p class="copy only-mobile">Copyright 2018 SITP. Conception : DIGIT AFRIQUE</p>
        </div>
    </div>
</footer>
