
{% block body %}

{% endblock %}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS-->
    <link rel="stylesheet" type="text/css" href="{{ asset('admin/css/main.css') }}">
    <!-- Font-icon css-->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css" />
    <title>Authentification - SITIP</title>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries-->
    <!--if lt IE 9
    script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
    script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
    -->
</head>
<body>
<section class="material-half-bg">
    <div class="cover"></div>
</section>
<section class="login-content">
    <div class="logo">
        <h1>SITP</h1>
    </div>
    <div class="login-box">
        {#{{form_start(form, {'attr': {'class': 'login-form'}})}}#}
        <form class="login-form" method="post">
            {% if error %}
                <div class="alert alert-danger">
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                </div>
            {% endif %}
            <div class="row">
                <div class="col-md-12">
                    {% for label, messages in app.flashes %}
                        {% for message in messages %}
                            {#<div class="bs-component">#}
                                {#<div class="alert alert-dismissible alert-{{ label }}">#}
                                    {#<button class="close" type="button" data-dismiss="alert">×</button>#}
                                    {#<h4> {{ message }}!</h4>#}
                                {#</div>#}
                            {#</div>#}

                            <div class="alert alert-{{ label }} lert-dismissible">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>

            <h3 class="login-head"><i class="fa fa-lg fa-fw fa-user"></i>AUTHENTIFICATION</h3>
            <div class="form-group">
                <label for="inputEmail" class="control-label">Addresse email </label>
                <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address"
                       required autofocus>
            </div>
            <div class="form-group">
                <label for="inputPassword" class="control-label">Mot de passe</label>
                <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Mot de passe" required>
                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >
            </div>
            <div class="form-group">
                <div class="utility">
                    <div class="animated-checkbox">
                        <label class="semibold-text">
                            <input type="checkbox" id="remember_me" name="_remember_me" ><span class="label-text">Rester connecté</span>
                        </label>
                    </div>
                    <p class="semibold-text mb-0"><a data-toggle="flip">Mot de passe oublié ?</a></p>
                </div>
            </div>
            <div class="form-group btn-container">
                <button class="btn btn-primary btn-block"><i class="fa fa-sign-in fa-lg fa-fw"></i>SE CONNECTER</button>
            </div>
            {#   {{form_end(form)}}#}
        </form>
        <form class="forget-form" action="{{ path('app_forgot_password_request') }}" method="post">
            <h3 class="login-head"><i class="fa fa-lg fa-fw fa-lock"></i>Mot de passe oublié ?</h3>
            <div class="form-group">
                <label class="control-label">EMAIL</label>
                <input class="form-control" name="email" type="email" placeholder="Email" required>
            </div>
            <div class="form-group btn-container">
                <button class="btn btn-primary btn-block"><i class="fa fa-unlock fa-lg fa-fw"></i>Reinitialiser!</button>
            </div>
            <div class="form-group mt-20">
                <p class="semibold-text mb-0"><a data-toggle="flip"><i class="fa fa-angle-left fa-fw"></i> Retourner</a></p>
            </div>
        </form>
    </div>
</section>
</body>
<script src="{{ asset('admin/js/jquery-2.1.4.min.js') }}"></script>
<script src="{{ asset('admin/js/bootstrap.min.js') }}"></script>
<script src="{{asset('admin/js/plugins/pace.min.js')}}"></script>
<script src="{{asset('admin/js/plugins/bootstrap-notify.min.js')}}"></script>
<script src="{{ asset('admin/js/main.js') }}"></script>

{% if error %}

    <script>
        $.notify({
            // options
            icon: 'glyphicon glyphicon-warning-sign',
            title: "Erreur d'authentification: ",
            message: '{{ error }}',
        },{
            // settings
            element: 'body',
            position: null,
            type: "danger",
            allow_dismiss: true,
            newest_on_top: false,
            showProgressbar: false,
            placement: {
                from: "top",
                align: "center"
            },
            offset: 20,
            spacing: 10,
            z_index: 1031,
            delay: 5000,
            timer: 1000,
            url_target: '_blank',
            mouse_over: null,
            animate: {
                enter: 'animated fadeInDown',
                exit: 'animated fadeOutUp'
            },
            onShow: null,
            onShown: null,
            onClose: null,
            onClosed: null,
            icon_type: 'class',
            template: '<div data-notify="container" class="col-xs-11 col-sm-3 alert alert-{0}" role="alert">' +
            '<button type="button" aria-hidden="true" class="close" data-notify="dismiss">×</button>' +
            '<span data-notify="icon"></span> ' +
            '<span data-notify="title">{1}</span> ' +
            '<span data-notify="message">{2}</span>' +
            '<div class="progress" data-notify="progressbar">' +
            '<div class="progress-bar progress-bar-{0}" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>' +
            '</div>' +
            '<a href="{3}" target="{4}" data-notify="url"></a>' +
            '</div>'
        });
    </script>
{% endif %}



</html>





















{#{% extends 'base.html.twig' %}#}

{#{% block title %}Log in!{% endblock %}#}

{#{% block body %}#}
{#<form method="post">#}
    {#{% if error %}#}
        {#<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>#}
    {#{% endif %}#}

    {#{% if app.user %}#}
        {#<div class="mb-3">#}
            {#You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>#}
        {#</div>#}
    {#{% endif %}#}

    {#<h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>#}
    {#<label for="inputEmail">Email</label>#}
    {#<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>#}
    {#<label for="inputPassword">Password</label>#}
    {#<input type="password" name="password" id="inputPassword" class="form-control" required>#}

    {#<input type="hidden" name="_csrf_token"#}
           {#value="{{ csrf_token('authenticate') }}"#}
    {#>#}
    {##}

    {#<button class="btn btn-lg btn-primary" type="submit">#}
        {#Sign in#}
    {#</button>#}
{#</form>#}
{#{% endblock %}#}
