{% extends 'admin/base.html.twig' %}


{% block style %}
    {{ parent() }}
    <style>

    </style>
{% endblock %}

{% block pagetitle %}
    Utilisateur
{% endblock %}

{% block contenttitlefaicon %}
    fa fa-dashboard
{% endblock %}

{% block contenttitle %}
    Utilisateur
{% endblock %}

{% block contentsubtitle %}
    Modifier utilisateur
{% endblock %}


{% block pagecontent %}
    {# <h1>Create new Demeurre</h1>#}
    <div class="page-content-wrapper">
        <!-- BEGIN CONTENT BODY -->
        <div class="page-content">
            <div class="page-head">
                <!-- BEGIN PAGE TITLE -->
                <div class="row">
                    <div class="col-md-12">
                        <!-- BEGIN VALIDATION STATES-->
                        <div class="portlet light portlet-fit portlet-form bordered">
                            <div class="portlet-title">
                                <div class="caption">
                                    <i class="icon-settings font-dark"></i>
                                    <span class="caption-subject font-dark sbold uppercase"></span>
                                </div>
                            </div>

                            <div class="row">

                                <div class="col-md-12" style="margin-bottom: 20px">
                                    <div class="col-md2">
                                        <a class="btn btn-default" href="{{ path('app_register') }}">Nouveau</a>
                                    </div>
                                </div>

                                <div class="col-md-12">

                                    {{ include('admin/user/_form.html.twig', {'button_label': 'Update'}) }}

                                </div>


                            </div>


                            <!-- END VALIDATION STATES-->
                        </div>
                    </div>
                </div>
            </div>
            <!-- END PAGE BASE CONTENT -->
        </div>
        <!-- END CONTENT BODY -->
    </div>

    {#<a href="{{ path('demeurre_index') }}">back to list</a>#}
{% endblock %}

{% block script %}
    {{ parent() }}

    <script>
        $(document).ready(function ()
        {
            $("#treeMenuUser").addClass("active");

        })
    </script>
{% endblock %}

