<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Responsive Bootstrap 4 Admin &amp; Dashboard Template">
    <meta name="author" content="Bootlab">

    <title> {% block titlse %}DashBoard{% endblock %}</title>

    {% block  stylesheets %}

    {% endblock %}
    <link href="{{ asset('css/modern.css') }}" rel="stylesheet">

    <script src=" {{ asset('js/settings.js') }}"></script>

    <style>
        .wrapper:before {
            width: 100%;
            height: 345px;
            position: absolute;
            top: 0;
            left: 0;
            background: #28304E;
            background-image: url("{{ app.request.scheme }}://{{ app.request.httpHost ~ app.request.basePath ~  vich_uploader_asset(app.user.organisation, 'backgroundImageFile') }}");
            background-position: center;
            background-size: cover, contain;
            background-repeat: no-repeat;
            content: " "
        }

        .sidebar-user {
            padding: 1.5rem 1rem 1rem;
            background: #28304E;
            text-align: center;
            color: white;
            text-align: center;
            background-image: url("{{ app.request.scheme }}://{{ app.request.httpHost ~ app.request.basePath ~  vich_uploader_asset(app.user.organisation, 'backgroundImageFile') }}");
            background-size: cover, contain;
            background-repeat: no-repeat;
        }
    </style>
</head>

<body>
{# <div class="splash active"> #}
{# <div class="splash-icon"><h1 style="text-align: center; color: white; margin-top: 100%;">ISO SONO</h1></div> #}
{# </div> #}

<div class="wrapper">
    {% block  sidebar %}
        {% include 'block/sidebar.html.twig' %}
    {% endblock %}
    <div class="main">
        {% block  navbar %}
            {% include 'block/navbar.html.twig' %}
        {% endblock %}
        <main class="content">
            <div class="container-fluid" style="margin-top: -2rem;">


                <div class="header">

                    {% block  organisationName %}
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <ol class="breadcrumb">
                                    <li style="background-color: #28304E"
                                        class="btn btn-sm   mb-0 mx-0 breadcrumb-item">
                                        <a href="#"><i class="icon-copy fa fa-building"
                                                       aria-hidden="true"></i> {{ app.user.organisation.raisonSocial }}
                                        </a></li>
                                </ol>
                            </ol>
                        </nav>
                    {% endblock %}


                    <h1 class="header-title">
                        {% block pageTitle %}
                            Hey, <span>{{ app.user.nom ~" "~app.user.prenom }} !</span>
                        {% endblock %}
                    </h1>


                    {% block  pageBio %}
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#"><i class="icon-copy fa fa-user-circle"
                                                                           aria-hidden="true"></i>&nbsp;&nbsp;{{ app.user.nom ~" "~app.user.prenom }}
                                    </a></li>
                                </li>
                                <li class="breadcrumb-item"><a href="#"><i class="icon-copy fa fa-user-astronaut"
                                                                           aria-hidden="true"></i>{{app.user.userRole }}</a>
                                </li>
                            </ol>
                        </nav>
                    {% endblock %}

                </div>


                {# <div class="header"> #}
                {# <nav aria-label="breadcrumb"> #}
                {# <ol class="breadcrumb"> #}
                {# <li class="breadcrumb-item"><a href="#"><i class="icon-copy fa fa-building" #}
                {# aria-hidden="true"></i> {% block organisationTitle %}Hey {{ app.user.nom ~" "~app.user.prenom }} {% endblock %}</a></li> #}

                {# </ol> #}
                {# </nav> #}
                {# <nav aria-label="breadcrumb"> #}
                {# <ol class="breadcrumb"> #}
                {# <li class="breadcrumb-item"><a href="#"><i class="icon-copy fa fa-user-circle" #}
                {# aria-hidden="true"></i> {{ app.user.nom ~" "~app.user.prenom }} </a></li> #}
                {# </li> #}

                {# <li class="breadcrumb-item"><a href="#"><i class="icon-copy fa fa-user-astronaut" #}
                {# aria-hidden="true"></i> Super_admin [Master]</a> #}
                {# </li> #}


                {# </ol> #}
                {# </nav> #}
                {# </div> #}
                {% block  body %}
                    <div class="row">
                        <div class="col-xl-6 col-xxl-7">
                            <div class="w-100">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="card">
                                            <div class="card-body">
                                                <h1 class="display-6 {#mt-1 mb-3#}" style="font-weight:800"><i
                                                            class="align-self-center me-2 fas fa-fw fa-trophy"></i><small>{{ getBestUserUploader() }}</small>
                                                </h1>
                                                <div class="mb-0">
                                                    <div class="col mt-0">
                                                        <h5 class="card-title">Le Sonorisateur !</h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-body">
                                                <h1 class="display-5 mt-1 mb-3" style="font-weight:800"><i
                                                            class="align-middle me-2 fas fa-fw fa-bullhorn"></i>{{ get_annonce_uploader() }}
                                                </h1>
                                                <div class="mb-0">
                                                    <div class="col mt-0">
                                                        <h5 class="card-title">Offres d'emploi (Texte)</h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-sm-6">
                                        <div class="card">
                                            <div class="card-body">
                                                <h1 class="display-5 mt-1 mb-3" style="font-weight:800"><i
                                                            class="align-middle me-2 fas fa-fw fa-bullhorn"></i>{{ lastSonorisations|length }}
                                                </h1>
                                                <div class="mb-0">
                                                    <div class="col mt-0">
                                                        <h5 class="card-title">Offres d'emploi sonorisées</h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-body">
                                                <h1 class="display-5 mt-1 mb-3" style="font-weight:800"><i
                                                            class="align-middle me-2 fas fa-fw fa-headphones"></i>{{ get_percentage_annonce_sonorise_vs_annonce_uploader() }}
                                                    %
                                                </h1>
                                                <div class="mb-0">
                                                    <div class="col mt-0">
                                                        <h5 class="card-title">Uploadées VS Sonorisées</h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="col-xl-6 col-xxl-5 d-flex">
                            <div class="w-100">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="card">
                                            <div class="card-body">
                                                <h1 class="display-6 {#mt-1 mb-3#}" style="font-weight:800"><i
                                                            class="align-self-center me-2 fas fa-fw fa-address-card"></i><small>{{ getBestUserUploader() }}</small>
                                                </h1>
                                                <div class="mb-0">
                                                    <div class="col mt-0">
                                                        <h5 class="card-title">
                                                           Top user
                                                        </h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-body">
                                                <h1 class="display-5 mt-1 mb-3" style="font-weight:800"><i
                                                            class="align-middle me-2 fas fa-fw fa-file-alt"></i>{{ get_annonce_valide() }}
                                                </h1>
                                                <div class="mb-0">
                                                    <div class="col mt-0">
                                                        <h5 class="card-title"> Sonorisations validées</h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-sm-6">
                                        <div class="card">
                                            <div class="card-body">
                                                <h1 class="display-5 mt-1 mb-3" style="font-weight:800"><i
                                                            class="align-self-center me-2 fas fa-fw fa-stopwatch"></i>{{ get_percentage_annonce_sonorise_vs_annonce_sonorise_refuse() }}
                                                    %
                                                </h1>
                                                <div class="mb-0">
                                                    <div class="col mt-0">
                                                        <h5 class="card-title"><small>Sonorisées Rejeté VS
                                                                Sonorisées</small></h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-body">
                                                <h1 class="display-5 mt-1 mb-3" style="font-weight:800"><i
                                                            class="align-middle me-2 fas fa-fw fa-file-alt"></i>{{ get_annonce_rejete() }}
                                                </h1>
                                                <div class="mb-0">
                                                    <div class="col mt-0">
                                                        <h5 class="card-title">Sonorisations rejetées</h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-lg-12 col-xxl-12 d-flex">
                            <div class="card flex-fill">
                                <div class="card-header">
                                    <div class="card-actions float-end">
                                        <a href="#" class="me-1">
                                            <i class="align-middle" data-feather="refresh-cw"></i>
                                        </a>
                                        <div class="d-inline-block dropdown show">
                                            <a href="#" data-bs-toggle="dropdown" data-bs-display="static">
                                                <i class="align-middle" data-feather="more-vertical"></i>
                                            </a>

                                            <div class="dropdown-menu dropdown-menu-end">
                                                <a class="dropdown-item" href="#">Action</a>
                                                <a class="dropdown-item" href="#">Another action</a>
                                                <a class="dropdown-item" href="#">Something else here</a>
                                            </div>
                                        </div>
                                    </div>
                                    <h4 style="font-weight: bold;">Liste des Extractions</h4>
                                </div>
                                <table id="datatables-dashboard-projects" class="table table-striped my-0">
                                    <thead>
                                    <tr>
                                        <th>Extr.</th>
                                        <th class="d-none d-xl-table-cell">Nom de fichier</th>
                                        <th class="d-none d-xl-table-cell">Date</th>
                                        <th>Taille</th>
                                        <th class="d-none d-md-table-cell">Format</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>
                                            <h4 style="font-weight: bold;"><i class="icon-copy fa fa-microchip"
                                                                              aria-hidden="true"></i></h4>
                                        </td>
                                        <td>
                                            <h5 class="font-16">Ext-12032021 | Pole Emploi</h5>
                                            <button type="button" class="btn btn-primary btn-lg" style="width: 100%;">
                                                Télécharger
                                            </button>
                                        </td>
                                        <td class="d-none d-xl-table-cell">31/06/2018</td>
                                        <td style="font-weight: 800;">1.3 Mo</td>
                                        <td class="d-none d-md-table-cell">.CSV</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <h4 style="font-weight: bold;"><i class="icon-copy fa fa-microchip"
                                                                              aria-hidden="true"></i></h4>
                                        </td>
                                        <td>
                                            <h5 class="font-16">Ext-12032021 | Pole Emploi</h5>
                                            <button type="button" class="btn btn-primary btn-lg" style="width: 100%;">
                                                Télécharger
                                            </button>
                                        </td>
                                        <td class="d-none d-xl-table-cell">31/06/2018</td>
                                        <td style="font-weight: 800;">1.3 Mo</td>
                                        <td class="d-none d-md-table-cell">.CSV</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <h4 style="font-weight: bold;"><i class="icon-copy fa fa-microchip"
                                                                              aria-hidden="true"></i></h4>
                                        </td>
                                        <td>
                                            <h5 class="font-16">Ext-12032021 | Pole Emploi</h5>
                                            <button type="button" class="btn btn-primary btn-lg" style="width: 100%;">
                                                Télécharger
                                            </button>
                                        </td>
                                        <td class="d-none d-xl-table-cell">31/06/2018</td>
                                        <td style="font-weight: 800;">1.3 Mo</td>
                                        <td class="d-none d-md-table-cell">Stacie Hall</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-lg-12 col-xxl-12 d-flex">
                            <div class="card flex-fill">
                                <div class="card-header">
                                    <div class="card-actions float-end">
                                        <a href="#" class="me-1">
                                            <i class="align-middle" data-feather="refresh-cw"></i>
                                        </a>
                                        <div class="d-inline-block dropdown show">
                                            <a href="#" data-bs-toggle="dropdown" data-bs-display="static">
                                                <i class="align-middle" data-feather="more-vertical"></i>
                                            </a>

                                            <div class="dropdown-menu dropdown-menu-end">
                                                <a class="dropdown-item" href="#">Action</a>
                                                <a class="dropdown-item" href="#">Another action</a>
                                                <a class="dropdown-item" href="#">Something else here</a>
                                            </div>
                                        </div>
                                    </div>
                                    <h4 style="font-weight: bold;">Offres sonorisées</h4>
                                </div>
                                <table id="datatables-dashboard-projects" class="table table-striped my-0">
                                    <thead>
                                    <tr>
                                        <th>Ann.</th>
                                        <th>Réf.</th>
                                        <th>Nom de fichier </th>

                                        <th class="text-center">Audio</th>
                                        <th class="">Date</th>
                                        <th class="">Partenaire</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% set sonoIncrementor   =  0 %}
                                    {% for  lastSono in lastSonorisations %}
                                        <tr>
                                            <td>
                                                <h4 style="font-weight: bold;"><i
                                                            class="align-middle me-2 fas fa-fw fa-headphones"></i></h4>
                                            </td>
                                            <td ><a style="cursor: pointer" href="{{ path('annonce_show', {'id': lastSono.annonce.id}) }}">{{ lastSono.annonce.reference }}</a></td>

                                            <td>
                                                {{ lastSono.annonce.titre }}
                                            </td>
                                            <td>
                                                {% include '_partials/playButton.html.twig'  with {"annonceSonorise" :lastSono } %}
                                            </td>
                                            <td class="d-none d-md-table-cell">{{ lastSono.createdAt|date('d/m/Y') }}</td>
                                            <td class="d-none d-xl-table-cell">{{ lastSono.annonce.organisation }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>


                    {# derniere annonce validé #}


                    <div class="row">
                        <div class="col-12 col-lg-12 col-xxl-12 d-flex">
                            <div class="card flex-fill  " style="background-color: #f2f2f2">
                                <div class="card-header">


                                </div>
                                <div class="col-12 col-lg-12">
                                    <div class="tab ">
                                        <ul class="nav nav-tabs" role="tablist">
                                            <li class="nav-item  col-md-6 "><a class="nav-link active" href="#tab-1"
                                                                               data-bs-toggle="tab" role="tab"><h4
                                                            style="font-weight: bold;">Sonorisations validées
                                                        ({{ lastSonorisationsValidated|length }})</h4></a></li>
                                            <li class="nav-item  col-md-6 "><a class="nav-link" href="#tab-2"
                                                                               data-bs-toggle="tab" role="tab"><h4
                                                            style="font-weight: bold;">Sonorisations rejetées
                                                        ({{ lastSonorisationsRejected|length }})</h4></a></li>
                                        </ul>
                                        <div class="tab-content">
                                            <div class="tab-pane active" id="tab-1" role="tabpanel">
                                                {% include 'annonce/include/template.html.twig' with {annonces :  lastSonorisationsValidated } %}
                                            </div>
                                            <div class="tab-pane" id="tab-2" role="tabpanel">

                                                {% include 'annonce/include/template.html.twig' with {annonces :  lastSonorisationsRejected } %}
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    {# liste des utlisateur #}
                    <div class="row">
                        <div class="col-12 col-lg-12 col-xxl-12 d-flex">
                            <div class="card flex-fill">
                                <div class="card-header">
                                    <div class="card-actions float-end">
                                        <a href="#" class="me-1">
                                            <i class="align-middle" data-feather="refresh-cw"></i>
                                        </a>
                                        <div class="d-inline-block dropdown show">
                                            <a href="#" data-bs-toggle="dropdown" data-bs-display="static">
                                                <i class="align-middle" data-feather="more-vertical"></i>
                                            </a>

                                            <div class="dropdown-menu dropdown-menu-end">
                                                <a class="dropdown-item" href="#">Action</a>
                                                <a class="dropdown-item" href="#">Another action</a>
                                                <a class="dropdown-item" href="#">Something else here</a>
                                            </div>
                                        </div>
                                    </div>
                                    <h4 style="font-weight: bold;">Liste des utilisateurs</h4>
                                </div>
                                <table id="datatables-dashboard-projects" class="table  datatables-basic table-striped my-0">
                                    <thead>
                                    <tr>
                                        <th>Part.</th>
                                        <th class="d-none d-xl-table-cell">Nom / Prénoms</th>
                                        <th class="d-none d-xl-table-cell">Type</th>
                                        <th>Creation</th>

                                        <th class="d-none d-md-table-cell">Organisation</th>
                                        <th class="d-none d-md-table-cell">Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    {% for user  in lastUsers %}
                                        <tr>
                                            <td>
                                                <h4 style="font-weight: bold;"><i
                                                            class="align-self-center me-2 fas fa-fw fa-address-card"></i>
                                                </h4>
                                            </td>
                                            <td>
                                                <h5 class="font-16">{{ user.nom  ~ " " ~user.prenom }}</h5>
                                            </td>
                                            <td class="d-none d-xl-table-cell">User</td>
                                            <td class="d-none d-xl-table-cell">{{ user.createdAt|date('d/m/Y') }}</td>

                                            <td class="d-none d-md-table-cell">{{ user.organisation.raisonSocial }}</td>
                                            <td>
                                                <div class="btn-group" role="group"
                                                     aria-label="Button group with nested dropdown">
                                                    <div class="btn-group" role="group">
                                                        <button id="btnGroupDrop1" type="button"
                                                                class="btn btn-primary dropdown-toggle"
                                                                data-bs-toggle="dropdown" aria-expanded="false"> Action
                                                        </button>
                                                        <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                                            <li><a class="dropdown-item" href="#">Activer</a></li>
                                                            <li><a class="dropdown-item" href="#">Désactiver</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    {# <div class="row">
                        <div class="col-12 col-lg-12 col-xxl-12 d-flex">
                            <div class="card flex-fill">
                                <div class="card-header">
                                    <div class="card-actions float-end">
                                        <a href="#" class="me-1">
                                            <i class="align-middle" data-feather="refresh-cw"></i>
                                        </a>
                                        <div class="d-inline-block dropdown show">
                                            <a href="#" data-bs-toggle="dropdown" data-bs-display="static">
                                                <i class="align-middle" data-feather="more-vertical"></i>
                                            </a>

                                            <div class="dropdown-menu dropdown-menu-end">
                                                <a class="dropdown-item" href="#">Action</a>
                                                <a class="dropdown-item" href="#">Another action</a>
                                                <a class="dropdown-item" href="#">Something else here</a>
                                            </div>
                                        </div>
                                    </div>
                                    <h4 style="font-weight: bold;">Liste des partenaires</h4>
                                </div>
                                <table id="datatables-dashboard-projects" class="table table-striped my-0">
                                    <thead>
                                    <tr>
                                        <th>Part.</th>
                                        <th class="d-none d-xl-table-cell">Organisation</th>

                                        <th>Creation</th>
                                        <th class="d-none d-md-table-cell">Bouton</th>
                                        <th class="d-none d-md-table-cell">Users actifs</th>
                                        <th class="d-none d-md-table-cell">Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>
                                            <h4 style="font-weight: bold;"><i
                                                        class="align-self-center me-2 fas fa-fw fa-address-card"></i>
                                            </h4>
                                        </td>
                                        <td>
                                            <h5 class="font-16">Unitradex</h5>
                                        </td>

                                        <td class="d-none d-xl-table-cell">31/06/2018</td>
                                        <td class="d-none d-md-table-cell">Lecteur</td>
                                        <td class="d-none d-md-table-cell">2/4</td>
                                        <td>
                                            <div class="btn-group" role="group"
                                                 aria-label="Button group with nested dropdown">
                                                <div class="btn-group" role="group">
                                                    <button id="btnGroupDrop1" type="button"
                                                            class="btn btn-primary dropdown-toggle"
                                                            data-bs-toggle="dropdown" aria-expanded="false"> Action
                                                    </button>
                                                    <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                                        <li><a class="dropdown-item" href="#">Activer</a></li>
                                                        <li><a class="dropdown-item" href="#">Désactiver</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <h4 style="font-weight: bold;"><i
                                                        class="align-self-center me-2 fas fa-fw fa-address-card"></i>
                                            </h4>
                                        </td>
                                        <td>
                                            <h5 class="font-16">Unitradex - 2</h5>
                                        </td>

                                        <td class="d-none d-xl-table-cell">31/06/2018</td>
                                        <td class="d-none d-md-table-cell">Lecteur</td>
                                        <td class="d-none d-md-table-cell">7/10</td>
                                        <td>
                                            <div class="btn-group" role="group"
                                                 aria-label="Button group with nested dropdown">
                                                <div class="btn-group" role="group">
                                                    <button id="btnGroupDrop1" type="button"
                                                            class="btn btn-primary dropdown-toggle"
                                                            data-bs-toggle="dropdown" aria-expanded="false"> Action
                                                    </button>
                                                    <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                                        <li><a class="dropdown-item" href="#">Activer</a></li>
                                                        <li><a class="dropdown-item" href="#">Désactiver</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <h4 style="font-weight: bold;"><i
                                                        class="align-self-center me-2 fas fa-fw fa-address-card"></i>
                                            </h4>
                                        </td>
                                        <td>
                                            <h5 class="font-16">Unitradex - 3</h5>
                                        </td>

                                        <td class="d-none d-xl-table-cell">31/06/2018</td>
                                        <td class="d-none d-md-table-cell">Lecteur</td>
                                        <td class="d-none d-md-table-cell">3/5</td>
                                        <td>
                                            <div class="btn-group" role="group"
                                                 aria-label="Button group with nested dropdown">
                                                <div class="btn-group" role="group">
                                                    <button id="btnGroupDrop1" type="button"
                                                            class="btn btn-primary dropdown-toggle"
                                                            data-bs-toggle="dropdown" aria-expanded="false"> Action
                                                    </button>
                                                    <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                                        <li><a class="dropdown-item" href="#">Activer</a></li>
                                                        <li><a class="dropdown-item" href="#">Désactiver</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div> #}
                {% endblock %}
            </div>
        </main>
        {% block  footer %}
            {% include 'block/footer.html.twig' %}
        {% endblock %}
    </div>
</div>

<svg width="0" height="0" style="position:absolute">
    <defs>
        <symbol viewBox="0 0 512 512" id="ion-ios-pulse-strong">
            <path
                    d="M448 273.001c-21.27 0-39.296 13.999-45.596 32.999h-38.857l-28.361-85.417a15.999 15.999 0 0 0-15.183-10.956c-.112 0-.224 0-.335.004a15.997 15.997 0 0 0-15.049 11.588l-44.484 155.262-52.353-314.108C206.535 54.893 200.333 48 192 48s-13.693 5.776-15.525 13.135L115.496 306H16v31.999h112c7.348 0 13.75-5.003 15.525-12.134l45.368-182.177 51.324 307.94c1.229 7.377 7.397 11.92 14.864 12.344.308.018.614.028.919.028 7.097 0 13.406-3.701 15.381-10.594l49.744-173.617 15.689 47.252A16.001 16.001 0 0 0 352 337.999h51.108C409.973 355.999 427.477 369 448 369c26.511 0 48-22.492 48-49 0-26.509-21.489-46.999-48-46.999z">
            </path>
        </symbol>
    </defs>
</svg>


{% block  javascripts %}

    <script src=" {{ asset('js/app.js') }}"></script>

    <script>
        var fr = '//cdn.datatables.net/plug-ins/1.10.20/i18n/French.json';
        $('.exportable').DataTable({
            responsive: true,
            // dom: 'Bfrtip',
            "oLanguage": {
                "sUrl": fr
            },
            // buttons: [
            //     'copy', 'csv', 'excel', 'pdf', 'print'
            // ]
        });
        $('.datatables-basic').DataTable({
            responsive: true,
            "oLanguage": {
                "sUrl": fr
            },
            "order": [[0    , 'asc']],  buttons: ["copy", "print"],
        });

        $(document).ready(function () {





            // Datatables with Buttons
            //  $('.datatables-buttons').DataTable({
            //     lengthChange: !1,
            //     buttons: ["copy", "print"],
            //     responsive: true
            // });
            // datatablesButtons.buttons().container().appendTo("#datatables-buttons_wrapper .col-md-6:eq(0)");

            $(".dateTimePicker").daterangepicker({
                singleDatePicker: true,
                showDropdowns: true
            });
        })
        // document.addEventListener("DOMContentLoaded", function () {
        //     // Datatables basic
        //     $('#datatables-basic').DataTable({
        //         responsive: true
        //     });
        //     // Datatables with Buttons
        //     var datatablesButtons = $('#datatables-buttons').DataTable({
        //         lengthChange: !1,
        //         buttons: ["copy", "print"],
        //         responsive: true
        //     });
        //     datatablesButtons.buttons().container().appendTo("#datatables-buttons_wrapper .col-md-6:eq(0)");
        //
        //     $(".dateTimePicker").daterangepicker({
        //         singleDatePicker: true,
        //         showDropdowns: true
        //     });
        // });
    </script>
    <script>
        function escapeHtml(unsafe) {
            return unsafe
                .replace(/&amp;/mg, "&")
                .replace(/&lt;/mg, "<")
                .replace(/&quot;/mg, '"')
                .replace(/&#039;/mg, "'");
        }

        function generateCodeToEmbedOneJs() {
            return `<script type='text/javascript' src="{{ absolute_url(asset('sono-plugin/index.js')) }}"><\/script>`;
        }

        function generateCodeToEmbedContent() {
            return `   <div id="btn-iso-sono">  </div>`;
        }

        function generateCodeToEmbedTwoJs(referenceOrganisation, selecteur, type_bouton) {

            let selecteurEscaped = escapeHtml(selecteur);
            let domainHttpLink = '{{ getSiteHttpLink() }}';

            return `
            <script>
                    isoSono('${referenceOrganisation}',${selecteurEscaped},'${type_bouton}')
            <\/script>`;
        }

        function generateCodeToEmbed(referenceOrganisation, selecteur, type_bouton) {
            return ` <script type='text/javascript' src="{{ absolute_url(asset('sono-plugin/index.js')) }}"><\/script>

            <div id="btn-iso-sono">sdsdq</div>

             `;
        }
    </script>
    <script>
        function play(idSono) {

            var audio = document.getElementById(`audio-${idSono}`);
            var ausios = document.getElementsByClassName(`sono-audio`);
            for (var i = 0; i < ausios.length; i++) {
                let audioStope = ausios[i];
                audioStope.pause()
            }

            audio.play();

            $(`#play-sono-${idSono}`).hide();
            $(`#pause-sono-${idSono}`).show();
        }

        function pauseSono(idSono) {

            var audio = document.getElementById(`audio-${idSono}`);
            audio.pause()

            $(`#play-sono-${idSono}`).show();
            $(`#pause-sono-${idSono}`).hide();
        }
    </script>

{% endblock %}
</body>

</html>