<!DOCTYPE html>
<!--[if IE 6]>
<html id="ie6" lang="fr-FR">
<![endif]-->
<!--[if IE 7]>
<html id="ie7" lang="fr-FR">
<![endif]-->
<!--[if IE 8]>
<html id="ie8" lang="fr-FR">
<![endif]-->
<!--[if !(IE 6) | !(IE 7) | !(IE 8)  ]><!-->
<html lang="fr-FR">
<!--<![endif]-->
<meta http-equiv="content-type" content="text/html;charset=utf-8"/>
<head profile="http://www.w3.org/1999/xhtml/vocab">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="shortcut icon" href="{{ asset('template/sites/all/themes/lamotheme/favicon.ico') }}"
          type="image/vnd.microsoft.icon"/>
    <meta name="description" content=" "/>
    <meta name="generator" content="Digit Afrique (https://www.digit-afrique.com)"/>
    <link rel="shortlink" href="index.html"/>
    <meta property="og:site_name" content="Sarano Immobilier & Travaux Publics (SITP)"/>
    <meta property="og:type" content="article"/>
    <meta property="og:url" content="index.html"/>
    <meta property="og:title" content="Accueil"/>
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:url" content="index.html"/>
    <meta name="twitter:title" content="Accueil"/>
    <title>Sarano Immobilier & Travaux publics | Location, Achat,vente, Etude & BTP </title>
    <!--[if lt IE 10]>
    <script
            src="{{ asset('template/sites/all/themes/lamotheme/js/vendor/modernizr.custom.31020.js') }}"></script>
    <![endif]-->

    <meta id="viewport" name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <style type="text/css"
           media="all">@import url(" {{ asset('template/sites/all/themes/lamotheme/css/viewport.css') }}");</style>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">

    <link type="text/css" rel="stylesheet"
          href="{{ asset('template/sites/default/files/css/css_rEI_5cK_B9hB4So2yZUtr5weuEV3heuAllCDE6XsIkI.css') }}"
          media="all"/>
    <link type="text/css" rel="stylesheet"
          href="{{ asset('template/sites/default/files/css/css_mCTyF_8_svnZzHcpIUANct53tsKA4ExYIFlU-WtoCXw.css') }}"
          media="all"/>
    <link type="text/css" rel="stylesheet"
          href="{{ asset('template/sites/default/files/css/css_J6HGZdvN_Kx53Ep4LiBVue8Qnz6VRyO0ye2op4k5wIw.css') }}"
          media="all"/>
    <style type="text/css" media="all">
        <!-- /*--><![CDATA[/*><!--*/
        #sliding-popup.sliding-popup-top {
            background: #fff;
        }

        #sliding-popup .popup-content #popup-text h2, #sliding-popup .popup-content #popup-text p {
            color: #222 !important;
        }

        /*]]>*/
        -->
    </style>
    <link type="text/css" rel="stylesheet"
          href="{{ asset('template/sites/default/files/css/css_0SXNPq5TpMFTsXLyjMCYFqCdJ9EUWivoXOzGSgTJ304.css') }}"
          media="all"/>
    <link type="text/css" rel="stylesheet"
          href="{{ asset('template/sites/default/files/css/css_1-zJkCHmcgIIQijEpWIZVoE2RNUD_Iw8lc5UPWnGhqM.css') }}"
          media="all"/>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/json2/20110223/json2.js"></script>
    <script type="text/javascript"
            src="{{ asset('template/sites/default/files/js/js_vDrW3Ry_4gtSYaLsh77lWhWjIC6ml2QNkcfvfP5CVFs.js') }}"></script>
    <script type="text/javascript"
            src="{{ asset('template/sites/default/files/js/js_5ZvYbR_RpAnAa4Gy_hGCjwhuaBQEWzQIAwlMCStkIuU.js') }}"></script>
    <script type="text/javascript"
            src="{{ asset('template/sites/default/files/js/js_zKC6wsxqjoRmTKNdDVcmdLOnhkAoI9AtNnnpDlsd9MQ.js') }}"></script>
    <script type="text/javascript"
            src="{{ asset('template/sites/default/files/js/js_m2oLwez3BV4oFUQn7CI47rAaAS0IXKeDmOchCD6yY5g.js') }}"></script>
    <script type="text/javascript"
            src="{{ asset('template/sites/all/modules/lightbox2/js/lightbox79dc.js') }}"></script>
    <script type="text/javascript"
            src="{{ asset('template/sites/default/files/js/js_gPqjYq7fqdMzw8-29XWQIVoDSWTmZCGy9OqaHppNxuQ.js') }}"></script>
    <script type="text/javascript">
        <!--//-->
        // <![CDATA[//><!--
        (function (i, s, o, g, r, a, m) {
            i["GoogleAnalyticsObject"] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o), m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, "script", "https://google-analytics.com/analytics.js", "ga");
        ga("create", "UA-11655840-9", {"cookieDomain": "auto"});
        ga("require", "displayfeatures");
        ga("send", "pageview");
        //--><!
        // ]]>
    </script>
    <script type="text/javascript"
            src="{{ asset('template/sites/default/files/js/js_sZzmFN0iL-9VUkK_9hsftNo7HXoM2irNcxj99laSYVc.js') }}"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>

    {#<script src="{{ asset('admin/js/jquery-2.1.4.min.js') }}"></script>#}
    {#<script type="text/javascript" src="{{ asset('template/jQuery/jQuery-2.1.3.min.js') }}"></script>#}
    {#<script type="text/javascript" src="{{ asset('template/jQueryUI/jquery-ui-1.10.3.min.js') }}"></script>#}

    <script type="text/javascript"
            src="{{ asset('template/sites/default/files/js/js_OE91Jn07unyWcxA54r9JPezgAF7gOHCL-gtZk99XiCk.js') }}"></script>
    <script type="text/javascript">

    </script>

</head>
<body  id="top" >
{% block body %}

    <div id="website-wrapper">
        <div id="menu-background" class="only-mobile"></div>
        <div id="skip-link">
            <a href="#main-content" class="element-invisible element-focusable">Aller au contenu principal</a>
        </div>

        {% block header %}
            {{ include('site/include/header.html.twig') }}
        {% endblock %}

        {% block breadcrumb %}
            <aside>
                <nav id="breadcrumb" class="w1200 marge-auto clearfix">
                    <ul class="breadcrumbs" itemscope itemtype="//schema.org/BreadcrumbList">
                        <li>Vous êtes ici :</li>
                        <li itemprop="itemListElement" itemscope itemtype="//schema.org/ListItem"><a itemprop="item"
                                                                                                     href="index.html"><span
                                        itemprop="name">Accueil</span></a>
                            <meta itemprop="position" content="1"/>
                        </li>
                        <li>&gt;</li>
                        <li itemprop="itemListElement" itemscope itemtype="//schema.org/ListItem"><a itemprop="item"
                                                                                                     href="#"><span
                                        itemprop="name">Menu</span></a>
                            <meta itemprop="position" content="2"/>
                        </li>
                        <li>&gt;</li>
                        <li itemprop="itemListElement" itemscope itemtype="//schema.org/ListItem"><span itemprop="name">Construire</span>
                            <meta itemprop="position" content="3"/>
                        </li>
                    </ul>
                </nav>
            </aside>

        {% endblock %}

        <div id="page-content" class="clearfix w1200 marge-auto" role="main">

            {% block content %}

            {% endblock %}
        </div>

    </div>



    {% block footer %}

        {{ include('site/include/footer.html.twig') }}
    {% endblock %}

{% endblock %}
{% block javascripts %}

    {#FOSJSRouting js#}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>


    <script type="text/javascript"
            src="{{ asset('template/sites/default/files/js/js_9dVKhrWo4l6wkJ0KNsJOmbCFn0Pbv2NX6CryDyGCZWo.js') }}"></script>

{% endblock %}
</body>
</html>
